
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "about";

body {
    padding-top: 70px;


    /* Common Style */
    // 无边框按钮
    .btn-no-border {
        border: none !important;
    }
    // 卡片式展示
    .card {
        padding-top: 10px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 20px #bbb;
        box-sizing: border-box;
    }
    // 返回顶部
    #back-to-top {
        display: none;
        position: fixed;
        width: 30px;
        height: 30px;
        right: 35px;
        bottom: 45px;
        i {
            font-size: 30px;
            cursor: pointer;
        }
    }
}
.home-page {
    .first-img {
        margin-left: auto;
        margin-right: auto;
        width: 110px;
        height: 110px;
        img {
            width: 110px;
            height: 110px;
        }
    }
}

.friend-links {
    a {
        display: block;
        float: left;
        margin: 0 20px 0 0;
    }
}

.message {
    .time {
        font-size: 10px;
        font-weight: lighter;
    }
}
.tags {
    span {
        cursor: pointer;
    }
    .tag_names {
        display: block;
        float: left;
        margin: 0 10px 10px 0;
    }
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100% ;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100% ;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 10px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

/* Article List*/
.article {
    h3 {
        margin-top: 0;
    }
    .article-title {
        text-decoration: none;
    }
    .tags {
        margin-bottom: 5px;
    }
    .article-body {
        text-overflow:clip;
        overflow:hidden;
        font-size: 15px;
    }
    //praise_times & view_times & comment_times
    .article-nums button {
        display: block;
        float: right;
        margin: 0 10px 0 0;
    }

    .article-pagination {
        text-align: center !important;
    }
}

/* Article Detail */
.article-detail {
    .right {
        position: absolute;
    }

    .col-md-offset-1 {
        margin-left: 4.33% !important;
    }

    .prev-next-null {
        color: grey;
    }
}
