/*  About Me Page */

.about-me {
  padding-top: 10px;
}

.about-me h1,
.about-me h2,
.about-me h3,
.about-me h4,
.about-me h5,
.about-me h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: 100;
  color: #000;
  line-height: 1.35;
}

.about-me .glyphicon {
  font-size: 1em;
}

.about-me h2 {
  margin-top: 4px;
  font-size: 1.2em;
}

.about-me h3 {
  font-size: 1.1em;
}

.about-me h3 span {
  font-weight: 300;
}

.about-me hr {
  margin-top: 0 !important;
  margin-bottom: .4em;
}

.about-me .center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-me .side {
  padding-top: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px #bbb;
          box-shadow: 0 5px 20px #bbb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-me .left label {
  font-weight: 100;
}

.about-me .left ul {
  padding-left: 0;
}

.about-me .left ul li {
  list-style-type: none;
}

.about-me .left ul li label {
  display: inline-block;
  width: 35%;
}

.about-me .left ul li progress {
  background-color: #f6f6f6;
  display: inline;
  /*width: 195px;*/
  height: 1em;
}

.about-me .left ul li progress::-webkit-progress-bar {
  background-color: #e0eaf0;
}

.about-me .left ul li progress::-webkit-progress-value {
  background-color: #393d62;
}

.about-me .left ul li progress::-moz-progress-bar {
  background-color: #e0eaf0;
}

.about-me .left ul li progress::-moz-progress-value {
  background-color: #708d9b;
}

.about-me .left .me {
  padding-top: 5px;
  font-weight: 100;
}

.about-me .left .me .portrait {
  width: 150px;
  border-radius: 75px;
  overflow: hidden;
  position: relative;
}

.about-me .left .me .portrait img {
  width: inherit;
  height: 150px;
}

.about-me .left .me .name {
  margin-top: 6px;
}

.about-me .right time {
  display: block;
  float: right;
}

.about-me .right mark {
  background: rgba(232, 232, 232, 0.8);
}

.about-me .right .introduction p {
  padding-left: 16px;
  padding-bottom: 5px;
}

