
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 70px;


    /* Common Style */
    // 无边框按钮
    .btn-no-border {
        border: none !important;
    }
    // 卡片式展示
    .card {
        padding-top: 10px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 20px #bbb;
        box-sizing: border-box;
    }
    // 返回顶部
    #back-to-top {
        display: none;
        position: fixed;
        width: 30px;
        height: 30px;
        right: 35px;
        bottom: 45px;
        i {
            font-size: 30px;
            cursor: pointer;
        }
    }
    .red-asterisk {
        color: red;
    }
}
.home-page {
    .first-img {
        margin-left: auto;
        margin-right: auto;
        width: 110px;
        height: 110px;
        img {
            width: 110px;
            height: 110px;
        }
    }
}

.friend-links {
    a {
        display: block;
        float: left;
        margin: 0 20px 0 0;
    }
}

.message {
    .time {
        font-size: 10px;
        font-weight: lighter;
    }
}
.tags {
    span {
        cursor: pointer;
    }
    .tag_names {
        display: block;
        float: left;
        margin: 0 10px 10px 0;
    }
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100% ;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100% ;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 10px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

/* 登陆 */
#user-login {
    img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        border-radius: 50%;
    }
}
/* Article List*/
.article {
    h3 {
        margin-top: 0;
    }
    .article-title {
        text-decoration: none;
    }
    .tags {
        margin-bottom: 5px;
    }
    .article-body {
        text-overflow:clip;
        overflow:hidden;
        font-size: 15px;
    }
    //praise_times & view_times & comment_times
    .article-nums button {
        display: block;
        float: right;
        margin: 0 10px 0 0;
    }

    .article-pagination {
        text-align: center !important;
    }
}

.article-detail {
    img {
        max-height: 500px;
    }
}

.article-comment {
    margin-top: 20px;
    h3 {
        margin: 0;
    }
    .panel-heading {
        border-bottom: 0;
    }
    .panel-body {
        padding-top: 0;
        .avatar {
            padding-right: 0;
            border-radius: 25px;
            overflow: hidden;
            margin-right: 10px;
        }
        .detail {
            margin-left: 60px;
            .rank-time {
                font-size: 10px;
                color: grey;
                span {
                    margin-right: 5px;
                }
            }
            .username {
                font-weight: bold;
            }
            .reply-to {
                color: rgba(57, 0, 255, 0.58);
                text-decoration: none;
                float: left;
                margin-right: 3px;
            }
        }
    }
    .add {
        margin-bottom: 10px;

        .needlogin-div {
            width: 100%;
            height: 164px;
            background-color: rgba(212, 206, 206, 0.5);
            text-align: center;
            display: table;

            a {
                display: table-cell;
                vertical-align: middle;
                font-size: 19px;

                span {
                    margin: 0 2px;
                    text-decoration: underline;
                }
            }
            a:hover{
                text-decoration: none;
            }
        }

        textarea {
            overflow: hidden;
            word-wrap: break-word;
            resize: vertical;
            height: 164px;
        }
        #content-reply-to {
            display: none;
        }
    }
}

/*  About Me Page */
.about-me {
  h1, h2, h3, h4, h5, h6 {
    font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight: 100;
    color: #000;
    line-height: 1.35;
  }

  .glyphicon {
    font-size: 1em;
  }
  h2 {
    margin-top: 4px;
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.1em;
    span {
      font-weight: 300;
    }
  }
  hr {
    margin-top: 0 !important;
    margin-bottom: .4em;
  }

  padding-top: 10px;

  .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .side {
    padding-top: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px #bbb;
    box-sizing: border-box;
  }
  // 左侧栏
  .left {
    label {
      font-weight: 100;
    }
    ul {
      padding-left: 0;
      li {
        list-style-type:none;
        label {
          display: inline-block;
          width: 35%;
        }
        progress {
          background-color: #f6f6f6;
          display: inline;
          /*width: 195px;*/
          height: 1em;
        }

        progress::-webkit-progress-bar {
          background-color: #e0eaf0;
        }

        progress::-webkit-progress-value {
          background-color: #393d62;
        }

        progress::-moz-progress-bar {
          background-color: #e0eaf0;
        }

        progress::-moz-progress-value {
          background-color: #708d9b;
        }
      }
    }
    .me {
      padding-top: 5px;
      font-weight: 100;
      .portrait {
        width: 150px;
        border-radius: 75px;
        overflow: hidden;
        position: relative;
        img {
          width: inherit;
          height: 150px;
        }
      }
      .name {
        margin-top: 6px;
      }
    }
  }

  // 右侧栏
  .right {
    time {
      display: block;
      float: right;
    }
    mark {
      background: rgba(232, 232, 232, 0.8);
    }

    .introduction {
      p {
        padding-left: 16px;
        padding-bottom: 5px;
      }
    }
  }
}
