@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";


a:focus, input:focus {
  outline-style: none;
  -moz-outline-style: none;
}

.t-card {
  border-radius: 5px;
  box-shadow: 0 5px 20px #bbb;
  border: 1px solid #fff;
  background: $white;
  box-sizing: border-box;

  &-title {
    padding: 15px 15px;
    border-bottom: 1px solid #d3e0e9;
  }
  &-body {
    padding: 15px 15px;
  }
}

.t-header {
  z-index: 1;

  img {
    width: 20px;
    height: 20px;
  }

  .navbar-nav.dropdown {
    text-align: center;
  }
}

.t-footer {
  position: absolute;
  bottom: 0;

  .container {
    p {
      margin: 10px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

#back-to-top {
  bottom: 20%;
  right: 10%;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.t-content {
  margin-top: 60px;
  padding-top: 5px;
}

.t-home {
  &-right {
    & > .t-card {
      margin-top: 25px;
      &:first-child {
        margin-top: 0;
      }
    }

    .tags a {
      margin-right: 5px;
    }

    .friend-links a {
      margin-right: 20px;
      display: block;
      float: left;
      color: #3097d1;
    }
  }
}
